@page "/yaml"
@using Shared.Rcl.Console
<PageTitle>Cli</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6">

    <YamlFileComponent Path="config/config.yaml">
            
    </YamlFileComponent>
</div>

@code {

}
