@page "/resources/services/{ServiceName}"
@using RackPeek.Domain.Resources.Services
@using RackPeek.Domain.Resources.Services.UseCases
@using Shared.Rcl.Components
@using Shared.Rcl.Components
@inject IServiceRepository ServiceRepository
@inject UpdateServiceUseCase UpdateServiceUseCase
@inject NavigationManager NavigationManager

<PageTitle>Service Details</PageTitle>

<ResourceBreadCrumbComponent
    ResourceType="ResourceType.Service"
    ResourceName="@ServiceName"/>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6">
    @if (_service is null && !_loading)
    {
        <div class="text-zinc-500">Service not found</div>
    }
    else if (_loading)
    {
        <div class="text-zinc-500">loading service…</div>
    }
    else
    {
        <h1 class="text-lg text-zinc-100 mb-6">
            @_service.Name (@_service.Kind)
        </h1>

        <ServiceCardComponent Service="_service" OnSave="UpdateService" OnDeleted="OnDeleted"/>
    }
</div>

@code {
    [Parameter] public string ServiceName { get; set; } = string.Empty;

    private Service? _service;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        _service = await ServiceRepository.GetByNameAsync(ServiceName);
        _loading = false;
    }

    async Task UpdateService(ServiceEditModel edit)
    {
        await UpdateServiceUseCase.ExecuteAsync(
            edit.Name,
            edit.Ip,
            edit.Port,
            edit.Protocol,
            edit.Url,
            edit.RunsOn,
                edit.Notes
        );
    }

    private void OnDeleted(string obj)
    {
        NavigationManager.NavigateTo("/services/list");
    }

}