@page "/resources/services/{ServiceName}"
@using RackPeek.Domain.Persistence
@inject IResourceCollection Repo
@inject NavigationManager NavigationManager

<PageTitle>Service Details</PageTitle>

<ResourceBreadCrumbComponent
    ResourceType="ResourceType.Service"
    ResourceName="@ServiceName"/>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6">
    @if (_service is null && !_loading)
    {
        <div class="text-zinc-500">Service not found</div>
    }
    else if (_loading)
    {
        <div class="text-zinc-500">loading service…</div>
    }
    else
    {
        <h1 class="text-lg text-zinc-100 mb-6">
            @_service.Name (@_service.Kind)
        </h1>

        <ServiceCardComponent Service="_service" OnDeleted="OnDeleted"/>
    }
</div>

@code {
    [Parameter] public string ServiceName { get; set; } = string.Empty;

    private Service? _service;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        _service = await Repo.GetByNameAsync<Service>(ServiceName);
        _loading = false;
    }

    private void OnDeleted(string obj)
    {
        NavigationManager.NavigateTo("/services/list");
    }

}