@using RackPeek.Domain.Resources.Hardware.Switches
@using RackPeek.Domain.Resources.Models
@inject GetSwitchesUseCase GetSwitches
@inject NavigationManager Nav

<PageTitle>Switches</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">

    <AddSwitchComponent OnCreated="NavigateToNewResource"/>


    @if (_Switches is null)
    {
        <div class="text-zinc-500">loading Switches…</div>
    }
    else if (_Switches.Count == 0)
    {
        <div class="text-zinc-500">no Switches found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var _switch in _Switches.OrderBy(s => s.Name))
            {
                <SwitchCardComponent Switch="_switch" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Switch>? _Switches;

    protected override async Task OnInitializedAsync()
    {
        _Switches = await GetSwitches.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"/resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _Switches = await GetSwitches.ExecuteAsync();
    }

}
