@using RackPeek.Domain.Resources.Hardware.Models
@using RackPeek.Domain.Resources.Hardware.Servers
@inject GetServersUseCase GetServers
@inject NavigationManager Nav

<PageTitle>Servers</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">

    <AddServerComponent OnCreated="NavigateToNewResource"/>

    @if (_servers is null)
    {
        <div class="text-zinc-500">loading servers…</div>
    }
    else if (_servers.Count == 0)
    {
        <div class="text-zinc-500">no servers found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var server in _servers.OrderBy(s => s.Name))
            {
                    <ServerCardComponent Server="server" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Server>? _servers;

    protected override async Task OnInitializedAsync()
    {
        _servers = await GetServers.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"/resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _servers = await GetServers.ExecuteAsync();
    }

}