@using RackPeek.Domain.Resources.Hardware.Models
@using RackPeek.Domain.Resources.Hardware.Servers
@inject GetServersUseCase GetServers

<PageTitle>Servers</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6">
    @if (_servers is null)
    {
        <div class="text-zinc-500">loading servers…</div>
    }
    else if (_servers.Count == 0)
    {
        <div class="text-zinc-500">no servers found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var server in _servers.OrderBy(s => s.Name))
            {
                <NavLink href="@($"/resources/hardware/{server.Name}")" class="block">
                    <ServerCardComponent Server="server"/>
                </NavLink>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Server>? _servers;

    protected override async Task OnInitializedAsync()
    {
        _servers = await GetServers.ExecuteAsync();
    }

}
