@using RackPeek.Domain.Resources.Hardware.UpsUnits
@using RackPeek.Domain.Resources.Models
@inject GetUpsUseCase GetUpss
@inject NavigationManager Nav

<PageTitle>Ups</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">

    <AddUpsComponent OnCreated="NavigateToNewResource"/>

    @if (_Upss is null)
    {
        <div class="text-zinc-500">loading Ups…</div>
    }
    else if (_Upss.Count == 0)
    {
        <div class="text-zinc-500">no Ups found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var Ups in _Upss.OrderBy(s => s.Name))
            {
                <UpsCardComponent Ups="Ups" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Ups>? _Upss;

    protected override async Task OnInitializedAsync()
    {
        _Upss = await GetUpss.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"/resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _Upss = await GetUpss.ExecuteAsync();
    }

}
