@using RackPeek.Domain.Resources.Hardware.Routers
@using Router = RackPeek.Domain.Resources.Models.Router
@inject GetRoutersUseCase GetRouters
@inject NavigationManager Nav

<PageTitle>Routers</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">
    <AddRouterComponent OnCreated="NavigateToNewResource"/>


    @if (_Routeres is null)
    {
        <div class="text-zinc-500">loading Routers…</div>
    }
    else if (_Routeres.Count == 0)
    {
        <div class="text-zinc-500">no Routers found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var _Router in _Routeres.OrderBy(s => s.Name))
            {
                <RouterCardComponent Router="_Router" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Router>? _Routeres;

    protected override async Task OnInitializedAsync()
    {
        _Routeres = await GetRouters.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"/resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _Routeres = await GetRouters.ExecuteAsync();
    }

}
