@using RackPeek.Domain.Resources.Hardware.AccessPoints
@using RackPeek.Domain.Resources.Models
@inject GetAccessPointsUseCase GetAccessPoints
@inject NavigationManager Nav

<PageTitle>Access Points</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">
    <AddAccessPointComponent OnCreated="NavigateToNewResource"/>


    @if (_AccessPoints is null)
    {
        <div class="text-zinc-500">loading AccessPoints…</div>
    }
    else if (_AccessPoints.Count == 0)
    {
        <div class="text-zinc-500">no AccessPoints found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var accessPoint in _AccessPoints.OrderBy(s => s.Name))
            {
                <AccessPointCardComponent AccessPoint="accessPoint" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<AccessPoint>? _AccessPoints;

    protected override async Task OnInitializedAsync()
    {
        _AccessPoints = await GetAccessPoints.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"/resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _AccessPoints = await GetAccessPoints.ExecuteAsync();
    }

}
