@page "/systems/list"

<PageTitle>Systems</PageTitle>

<h1 class="text-lg text-zinc-100">
    Systems
</h1>

<SystemsListComponent 
    TypeFilter="@Type"
    OsFilter="@Os" />

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "type")]
    public string? Type { get; set; } = null;

    [Parameter]
    [SupplyParameterFromQuery(Name = "os")]
    public string? Os { get; set; }= null;
}