@using RackPeek.Domain.Resources.Hardware.Firewalls
@using RackPeek.Domain.Resources.Models
@inject GetFirewallsUseCase GetFirewalls
@inject NavigationManager Nav

<PageTitle>Firewall</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">
    <AddFirewallComponent OnCreated="NavigateToNewResource"/>


    @if (_Firewall is null)
    {
        <div class="text-zinc-500">loading Firewall…</div>
    }
    else if (_Firewall.Count == 0)
    {
        <div class="text-zinc-500">no Firewall found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var _switch in _Firewall.OrderBy(s => s.Name))
            {
                <FirewallCardComponent Firewall="_switch" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Firewall>? _Firewall;

    protected override async Task OnInitializedAsync()
    {
        _Firewall = await GetFirewalls.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"/resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _Firewall = await GetFirewalls.ExecuteAsync();
    }

}
